 {% extends 'base.html' %}
 {% block title %}Category{% endblock title %}
 {% block content %}
 {% include "nav.html" %}
 {% include "flash.html" %}

<!-- Page Content -->
<div class="container-fluid">
  <section id="showcategories" class="section">
    <div class="container" >
      <div class="row">
        <div class="col-md-4">
          <p class="h2"> Categories 
          </p>
          <ul class="list-group">

          {% for i in categories %}

            <li class="list-group-item">
              <p class="h3">
                <a href="{{url_for('showcategories', category_id = i.id,) }}" >{{ i.name }}</a>
                {% if 'name' in session %}
                <a href = "{{url_for('deleteCategory', category_id = i.id)}}">
                <!--<i class="fa fa-trash" style="font-size:30px;color:skyblue">-->
                <span class="glyphicon glyphicon-trash pull-right" title="Delete Category"></span></i></a>

                <a href = "{{url_for('editCategory', category_id = i.id)}}">
                <!--<i class="fa fa-edit" style="font-size:30px;color: orange">-->
                <span class="glyphicon glyphicon-pencil pull-right" title="Edit Category"></span></i></a>
                {% endif %}
                </p>
              </li>
              {% endfor %}
          </ul>
        </div>

      <!--Projectors Items--->
      <div class="col-md-8">
          <p class="h2">ITEMS</p>
            <table class="table table-bordered" style="color: orange;background-color:#FFF;">
              <tr class="bg-primary">
                <td>Brand</td>
                <td>Image_View</td>
                <td>Info</td>
                <td>Operations</td>
               </tr>
               {% for i in items %}
              <tr>
                <td> <a href="{{url_for('items',item_id=i.id)}}"><h3 class="">{{ i.brandname }}</h3></a></td>
                <td> <img class="img-fluid img-responsive" src="{{ i.image }}" alt="Card image"  style="height: 200px;width: 100%;"></td>
                <td> <button class="" type="button" class="btn btn-secondary" data-toggle="collapse" title="Click More Details" data-target="#demo{{ i.id }}">Details</button>
                 <div id="demo{{ i.id }}" class="collapse col-md-4" style="position: absolute; z-index: 1;background: #F08080;padding: 8px;box-shadow: 0px 0px 4px #000000;">
                    <p class="h4">Model : {{i.model}}</p>                   
                    <p class="h4">Color : {{i.color}}</p>
                    <p class="h4">Price : {{i.price}}</p>
                    <p class="h4">Description : {{ i.description }}</p>
                  </div></td>
                  <td>
                    {% if 'name' in session %}
                      <a href = "{{url_for('deleteItem', category_id = i.category.id, item_id = i.id)}}" title="Delete Item">
                        <i class="fa fa-trash" style="font-size:25px;color:red">
                       <!--<i class="fa fa-trash" style="font-size:25px;color: blue">-->
                       <span class="glyphicon  pull-right" ></span></i></a>

                      <a href = "{{url_for('editItem', category_id = i.category.id, item_id = i.id)}}" title="Edit Item">
                      <i class="fa fa-edit" style="font-size:25px;color:pink">
                      <span class="glyphicon pull-right" ></span></i></a>
                  {% endif %}
                  </td>
              </tr>
              
              {% endfor %}
            </table>
         
          </div>          
        </div>
  </div><!-- /.row -->
</div> <!-- /.container -->
</section>  <!-- /.section -->
</div> <!-- /.container-fluid --> 
{% endblock %}











 

 

